/* Regole Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.row {
  padding: 40px 150px 40px 150px;
}

/* .container {
  padding: 0 80px 0 80px;
} */

.divisore > span.blackline {
  color: #2c3e50;
  border-radius: 10px;
}

.divisore > span.whiteline {
  color: #eee;
  border-radius: 10px;
}

h2.intest {
  font-size: 40px;
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 20px;
}

h2.intest.white {
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.divisore {
  margin: 20px 0;
}

.divisore_line {
  display: inline-block;
  width: 20%;
  height: 4px;
  border: 2px solid;
  border-radius: 1rem;
}

.divisore_star {
  display: inline-block;
  width: 50px;
  font-size: 30px;
  vertical-align: middle;
}

.divisore > span.divisore_star > i.black {
  font-size: 40px;
  color: #2c3e50;
}

.divisore > span.divisore_star > i.white {
  font-size: 40px;
  color: white;
}

/* Barra fixed */
header > nav.navbar-default {
  background-color: #2c3e50;
  border-bottom: #2c3e50;
}

header > nav.navbar > .container > .navbar-header > a,
header > nav.navbar > .container > .navbar-collapse > ul.nav > li > a {
  color: white;
  padding: 35px 15px 35px 15px;
  font-size: 18px;
  font-weight: bold;
}

header > nav.navbar > .container > .navbar-header > a {
  font-size: 28px;
}

header > .navbar.navbar-default.navbar-fixed-top > .container > div.navbar-header {
  margin-left: 130px;
}

header > .navbar.navbar-default.navbar-fixed-top > .container > div.collapse.navbar-collapse {
  margin-right: 130px;
}


header > nav.navbar > .container > .navbar-collapse > ul.nav > li > a:hover {
  color: #1abc9c;
}

/* #bs-example-navbar-collapse-1 {
  padding-right: 60px;
} */

/* Jumbotron */
header > section#logoprinc > div.row {
  padding-top: 140px;
  padding-bottom: 70px;
  background-color: #1abc9c;
}

#logoprinc > .row > .title > h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: white;
  font-weight: bold;
}

.image.avatar {
  width: 20%;
}

span#deslogo {
  font-size: 17px;
  display: inline-block;
  margin-top: 20px;
  color: white;
  font-weight: 500;
}

/* Portfolio */
.quad {
  padding: 30px 0 30px 0;
}

.imgquadrato {
  width: 90%;
  border-radius: 10px;
}

/* About */
main > section#descript > div.row {
  background-color: #1abc9c;
}

.about {
  display: inline-block;
  text-align: left;
  line-height: 1.9;
  padding-top: 30px;
  margin-bottom: 20px;
  color: white;
}

.fas.fa-download {
  color: black;
}

button.buttom {
  padding: 13px 18px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
}

.buttom {
  margin: 20px 0;
}

button.buttom > span,
button.buttom {
  color: white;
}

button:hover {
  background-color: white;
}

button.buttom:hover > span,
button.buttom:hover {
  color: #2c3e50;
}

/* Sezione Dati Personali */

.form-group > input.form-control {
  width: 100%;
  border-style: none;
  padding: 25px 5px;
  border-bottom: 2px #e2e2e2 solid;
  font-size: 20px;
}

section#datipersonali > .row > div > form {
  margin-top: 80px;
}

button#invia:hover {
  background-color: #18967d;
}

button#invia {
  float: left;
  margin-top: 15px;
  color: white;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 20px;
}

/* Footer */

/* First Footer */
footer > section#first_foot > div.row {
  background-color: #2c3e50;
}

span.info > i.fab {
  width: 10%;
}

span.info > a > i {
  margin-right: 10px;
  padding: 15px;
  border-radius: 100%;
  border: 1px solid white;
}

span.info > a > i.fab {
  text-align: center;
}

span.info > a > i:hover {
  background-color: white;
  color: #2c3e50;
}

h3.intest,
span.info {
  color: white;
  line-height: 1.7;
}

span.info {
  font-size: 15px;
}

/* Second Foot */
footer > section#second_foot > div.row {
  background-color: #1a252f;
}

span#finalfoot {
  color: white;
}
