* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logoprinc {
  margin-top: 70px;
  margin-bottom: 70px;
}

.row {
  border: 1px solid brown;
}

.second {
  background-color: blue;
}

.test {
  background-color: red;
  height: 200px;
  padding: 10px;
  border: 1px black solid;
}

span {
  display: inline-block;
  text-align: left;
}

button {
  padding: 15px 20px;
  background-color: transparent;
  border: 2px solid black;
  font-size: 20px;
}

.buttom {
  margin: 20px 0;
}
